<div class="filter-group">
  <div class="item hidden-md hidden-lg">
    <button class="btn-filter js-open-filter">
      <i class="gico-icon icon-filter"></i>
      Bộ lọc
    </button>
  </div>
  <div class="item">
    <div class="item-label hidden-xs hidden-sm">
      Sắp xếp
    </div>
    <div class="dropdown dropdown-modal">
      <button class="btn-sorter dropdown-toggle" type="button" id="js-gico-pdp-sorter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="gico-icon icon-sorter hidden-md hidden-lg"></i>
        <span class="text">Sắp xếp</span>
        <span class="caret hidden-xs hidden-sm"></span>
      </button>
      <ul class="dropdown-menu pull-right" aria-labelledby="js-gico-pdp-sorter">
        <li>
          <a href="#">Giá thấp đến cao</a>
        </li>
        <li>
          <a href="#">Giá cao đến thấp</a>
        </li>
      </ul>
    </div>
  </div>
</div>
