<div class="gico-category-list" id="js-category-list">
  <div class="container">
    <!-- Slider main container -->
    <div class="content">
      <div class="row row-md-eq-height">
        {% for i in range(0, 7) %}
          <div class="col-xs-12">
            <a href="#" class="item">
              <div class="thumb gico-thumb">
                <img src="" data-src="https://media.static-adayroi.com/sys_master/hce/h84/15349750857758.jpg" alt="" class="js-lazy thumb-src"/>
              </div>
              <div class="info">
                <h4 class="title">Trang điểm</h4>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
