<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-7">
    <div class="overview">
      <h1 class="title">Thực phẩm chức năng</h1>
      <h4 class="result-count">Tìm thấy
        <strong>320</strong>
        kết quả</h4>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-5">
    {% include "./_filter.njk" %}
  </div>
</div>
<div class="filter-items-box">
  <h5 class="hidden-xs hidden-sm">Tiêu chí đang chọn</h5>
  <ul class="list-unstyled filter-items">
    {% for i in range(0, 3) %}
      <li class="item">
        <div class="item-text">
          Thương hiệu: SJCAM
        </div>
        <a href="#" class="item-action">
          <i class="gico-icon icon-close"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="#" class="filter-close">
    <span class="hidden-xs hidden-sm">Xóa tất cả</span>
    <i class="gico-icon icon-close"></i>
  </a>
</div>
