<div class="gico-category-toplink">
  <div class="row row-eq-height">
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="item">
        TOP MÃ GIÁM GIÁ
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="item">
        HÀNG ĐỘC QUYỀN DƯỚI 299K
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="item">
        GIÁ TỐT NHẤT THỊ TRƯỜNG
      </a>
    </div>
  </div>
</div>
