<div class="banner-slider">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
				<div class="js-banner-slider owl-carousel">
					<div class="item">
						<a href="#"><img src="https://vcdn.tikicdn.com/ts/banner/01/2e/57/09bb252fa28bac32d55eaea83e7d27d1.jpg" alt="" /></a>
					</div>
					<div class="item">
						<a href="#"><img src="https://vcdn.tikicdn.com/ts/banner/62/85/d7/5a6927a713bf2f692caedec069bd94fa.jpg" alt="" /></a>
					</div>
					<div class="item">
						<a href="#"><img src="https://vcdn.tikicdn.com/ts/banner/07/a9/c0/4fe40335cf6527d172eaa0df2810fada.jpg" alt="" /></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
				<div class="banner-img">
					<a class="hover-banner" href="#" title="">
						<img class="js-lazy img-responsive" alt="" src="https://media.static-adayroi.com/sys_master/hdd/h99/15929399148574.jpg" />
					</a>
					<a href="#" title="" class="hover-banner">
						<img class="js-lazy img-responsive" alt="" src="https://media.static-adayroi.com/sys_master/images/hea/h5c/15941645303838.jpg" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>