<div class="gico-banner" style="background-color: #199ce7">
  <div class="container">
    <img src="https://vn-live-03.slatic.net/skyline/i8/583470a5361b45b785ad9b630d1f0f15-1360-480.jpg_desktop.jpg" alt="">
  </div>
</div>