<div class="gico-breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Công nghệ</a>
      </li>
      <li>
        <a href="#">Webcam</a>
      </li>
      <li class="active">Webcam KONAMI</li>
    </ol>
  </div>
</div>
