<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="gico-icon icon-close"></i></button>
        <div class="clearfix"></div>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#sectionLogin">Đăng nhập</a></li>
          <li><a data-toggle="tab" href="#sectionCreateAccount">Tạo tài khoản</a></li>
        </ul>
        <div class="tab-content">
          <div id="sectionLogin" class="tab-pane fade in active">
            <div class="tab-form">
              <div class="form-group form-icon">
                <input type="email" class="form-control" placeholder="Email hoặc số điện thoại">
                <i class="gico-icon icon-user"></i>
              </div>
              <div class="form-group form-icon">
                <input type="password" class="form-control" placeholder="Mật khẩu">
                <i class="gico-icon icon-lock"></i>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-full text-medium fs-17">Đăng nhập</button>
              </div>
              <div class="form-group">
                <p class="notice">Quên mật khẩu? <a href="#" title="Nhấn vào đây">Nhấn vào đây</a></p>
              </div>
              <div class="dashed"></div>
              <div class="form-group due-btn no-mg">
                <a class="btn btn-fb" href="#" title="Đăng nhập bằng Facebook">Facebook</a>
                <a class="btn btn-gp" href="#" title="Đăng nhập bằng Google">Google</a>
              </div>
            </div>
          </div>
          <div id="sectionCreateAccount" class="tab-pane fade">
            <div class="tab-form form-create-user">
              <div class="form-group">
                <label>Họ và tên</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Email/ Số điện thoại</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Mật khẩu</label>
                <input type="password" class="form-control">
              </div>
              <div class="form-group">
                <label class="late">Giới tính</label>
                <ul class="list-unstyled list-inline">
                  <li>
                    <label class="styled-radio">
                      <input type="radio" class="styled-radio-input" name="radioSex" value="">
                      <span class="styled-radio-box"></span>
                      Nam
                    </label>
                  </li>
                  <li>
                    <label class="styled-radio">
                      <input type="radio" class="styled-radio-input" name="radioSex" value="">
                      <span class="styled-radio-box"></span>
                      Nữ
                    </label>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <label class="late">Ngày sinh</label>
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="select-box">
                      <select>
                        <option selected>Ngày</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="select-box">
                      <select>
                        <option selected>Tháng</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="select-box">
                      <select>
                        <option selected>Năm</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="styled-checkbox">
                  <input type="checkbox" class="styled-checkbox-input" name="" value="">
                  <span class="styled-checkbox-box"></span>
                  Nhận các thông tin và chương trình khuyến mãi của Gico qua email
                </label>
              </div>
              <div class="form-group">
                <p class="notice">Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi giao dịch mua bán theo <a href="#" title="Nhấp để biết chi tiết">điều kiệm sử dụng và chính sách của Gico</a></p>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-full text-medium fs-17">Tạo tài khoản</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>