<div class="gico-news-letter">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="news-letter-info">
          <span class="icon">
            <i class="gico-icon icon-emails"></i>
          </span>
          <div class="content">
            <p>Đăng ký nhận bản tin Gico</p>
            <p>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7">
        <form class="news-letter-form" action="index.html" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Địa chỉ email của bạn">
            <span class="input-group-btn">
              <button class="btn btn-outline btn-lg" type="button">Đăng ký</button>
            </span>
          </div>
        </form>
        <!-- /input-group -->
      </div>
    </div>
  </div>
</div>
