<div class="row">
      <div class="col-xs-12 col-sm-7 col-info">
            <h4 class="sub-title">Thông tin sản phẩm</h4>
            <div class="desc">
                  <p>Balo Thời Trang SENSZX B024 - Xanh Vàng được thiết kế dành cho các bạn trẻ để đi học, đi làm, dã ngoại, du lịch với kích thước 31 x 15 x 43 cm cho bạn không gian thoải mái để cất giữ đồ dùng. Với chiếc Balo này, bạn có thể cất giữ laptop đến 14”. Balo giúp tôn lên phong cách trẻ trung, năng động và hiện đại của bạn với các họa tiết hoa lá màu vàng, xanh da trời, xanh lá hài hòa trên nền xanh dương bắt mắt, sinh động và tươi vui.</p>
                  <p class="text-center"><img src="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg" alt="" /></p>
                  <p>Chất liệu polyester và nylon cao cấp, chống thấm hiệu quả giúp bảo vệ thiết bị của bạn một cách tối ưu.
                  Kích thước 31 x 15 x 43 cm cho bạn không gian thoải mái để cất giữ đồ dùng.
                  Đựng vừa laptop đến 14”.
                  Gồm một ngăn lớn và nhiều ngăn nhỏ giúp bạn dễ dàng sắp xếp đồ dùng hơn.
                  Thiết kế quai đeo lưng chắc chắn, êm vai.</p>

                  <p>Chất liệu polyester và nylon cao cấp, chống thấm hiệu quả giúp bảo vệ thiết bị của bạn một cách tối ưu.
                  Kích thước 31 x 15 x 43 cm cho bạn không gian thoải mái để cất giữ đồ dùng.
                  Đựng vừa laptop đến 14”.
                  Gồm một ngăn lớn và nhiều ngăn nhỏ giúp bạn dễ dàng sắp xếp đồ dùng hơn.
                  Thiết kế quai đeo lưng chắc chắn, êm vai.</p>
            </div>
            <a title="Nhấn để xem thêm thông tin sản phẩm" href="#" class="more-btn">Xem thêm thông tin sản phẩm</a>
      </div>
      <div class="col-xs-12 col-sm-5 col-tech">
            <h4 class="sub-title">Thông số kỹ thuật</h4>
            <div class="div-table">
                  <div class="dt-row">
                        <div>Thương hiệu</div>
                        <div>Senszx</div>
                  </div>
                  <div class="dt-row">
                        <div>Xuất xứ thương hiệu</div>
                        <div>Trung Quốc</div>
                  </div>
                  <div class="dt-row">
                        <div>Sản xuất tại</div>
                        <div>Trung Quốc</div>
                  </div>
                  <div class="dt-row">
                        <div>Model</div>
                        <div>SENSZX B024</div>
                  </div>
                  <div class="dt-row">
                        <div>Màu</div>
                        <div>Xanh Vàng</div>
                  </div>
                  <div class="dt-row">
                        <div>Chất liệu</div>
                        <div>Polyester và Nylon</div>
                  </div>
                  <div class="dt-row">
                        <div>Kích thước</div>
                        <div>31 x 15 x 43 cm</div>
                  </div>
            </div>
      </div>
</div>