<div class="row">
	<div class="product-image col-xs-12 col-sm-5">
		<div class="product-zoom">
			<div class="xzoom-container">
	          	
				<img class="xzoom" id="xzoom-fancy" src="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg" xoriginal="https://vcdn.tikicdn.com/cache/w1200/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg" />

	          	<div class="xzoom-thumbs js-thumb-slider owl-carousel">
	          		{% for i in range(0, 5) %}
	          		<div class="item">
	          			<a href="https://vcdn.tikicdn.com/cache/w1200/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg">
					    	<img class="xzoom-gallery" width="80" src="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg" xpreview="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/7/1/710sb3fiefl._sl1234__1.jpg">
						</a>
		          		<a href="https://vcdn.tikicdn.com/cache/w1200/media/catalog/product/7/1/71qyssymkkl._sl1312_.jpg">
			            	<img class="xzoom-gallery" width="80" src="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/7/1/71qyssymkkl._sl1312_.jpg" alt="">
			            </a>
		          		<a href="https://vcdn.tikicdn.com/cache/w1200/media/catalog/product/6/1/612-pr_vwgl._sl1160_.jpg">
			            	<img class="xzoom-gallery" width="80" src="https://vcdn.tikicdn.com/cache/400x400/media/catalog/product/6/1/612-pr_vwgl._sl1160_.jpg" alt="">
			            </a>
		          		<a href="https://vcdn.tikicdn.com/ts/review/6e/f4/b4/41202841b7a9e49998e0b5fdf38283e4.jpg">
			            	<img class="xzoom-gallery" width="80" src="https://vcdn.tikicdn.com/cache/400x400/ts/review/6e/f4/b4/41202841b7a9e49998e0b5fdf38283e4.jpg" alt="">
			            </a>
	          		</div>
	          		{% endfor %}
	          	</div>
	        </div>
	    </div>
	</div>
	<div class="product-content col-xs-12 col-sm-7">
		22222222
	</div>
</div>