<div class="sale-product type-1">
	<div class="container">
		<h2 class="frm-title">Sản phẩm đang giảm giá</h2>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab1">Nội y & Đồ mặc nhà</a></li>
			<li><a data-toggle="tab" href="#tab2">Mỹ phẩm</a></li>
			<li><a data-toggle="tab" href="#tab3">Giày túi</a></li>
			<li><a data-toggle="tab" href="#tab4">Phụ kiện</a></li>
			<li><a data-toggle="tab" href="#tab5">Gia dụng</a></li>
			<li><a data-toggle="tab" href="#tab6">Mẹ và bé</a></li>
			<li><a data-toggle="tab" href="#tab7">Thể thao</a></li>
			<li><a data-toggle="tab" href="#tab8">Điện thoại</a></li>
			<li><a data-toggle="tab" href="#tab9">Laptop</a></li>
        </ul>
        <div class="tab-content">
			<div id="tab1" class="tab-pane fade in active">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab2" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab3" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab4" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab5" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab6" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab7" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab8" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
			<div id="tab9" class="tab-pane fade">
				{% include "slider/products-slider.njk" %}
			</div>
        </div>

	</div>
</div>