<div class="sale-banner">
	<div class="container">
		<div class="row sale-box type1">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<a href="#" title="" class="hover-banner radius">
					<img class="js-lazy" alt="" src="https://media.static-adayroi.com/sys_master/images/h1d/haf/15892931805214.jpg" />
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<a href="#" title="" class="hover-banner radius">
					<img class="js-lazy" alt="" src="https://media.static-adayroi.com/sys_master/images/hff/h60/15941907742750.jpg" />
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<a href="#" title="" class="hover-banner radius">
					<img class="js-lazy" alt="" src="https://media.static-adayroi.com/sys_master/images/h95/h6b/15941614764062.png" />
				</a>
			</div>
		</div>
		<div class="sale-box type2">
			<div class="sb-top">
				<a href="#" title="" class="hover-banner">
					<img alt="" src="https://media.static-adayroi.com/sys_master/images/h45/hc5/15894809083934.png" />
				</a>
				<a href="#" title="" class="hover-banner">
					<img alt="" src="https://media.static-adayroi.com/sys_master/images/h4f/h11/15941912068126.jpg" />
				</a>
			</div>
			<div class="sb-bot">
				<a href="#" title="" class="hover-banner">
					<img alt="" src="https://media.static-adayroi.com/sys_master/images/h38/h7d/15941510004766.jpg" />
				</a>
				<a href="#" title="" class="hover-banner">
					<img alt="" src="https://media.static-adayroi.com/sys_master/images/hf5/h76/15928479776798.png" />
				</a>
				<a href="#" title="" class="hover-banner">
					<img alt="" src="https://media.static-adayroi.com/sys_master/images/h17/ha3/15944704884766.jpg" />
				</a>
			</div>
		</div>
	</div>
</div>