<div class="cart-sidebar">
	<ul class="price-info">
		<li>
			<label class="text-normal">Tạm tính</label>
			<span class="price">20,000,000đ</span>
		</li>
		<li class="sub-price">
			<label class="text-normal">Thành tiền</label>
			<span class="price text-red text-medium">20,200,000đ</span>
			<div class="clearfix"></div>
			<span class="text-secondary">( Đã bao gồm VAT)</span>
		</li>
		<li>
			<button class="btn btn-primary btn-full " type="button">Tiến hành đặt hàng</button>
		</li>
		<li>
			<span class="text-secondary">Bạn có mã giảm giá? <a href="#" title="Click để nhập mã">Click để nhập mã</a></span>
		</li>
	</ul>
</div>