<div class="filter-block">
  <div class="filter-heading">
    <a class="title" data-toggle="collapse" href="#js-collapse-1" role="button" aria-expanded="false" aria-controls="js-collapse-1">
      Danh mục thực phẩm

      <i class="gico-icon icon-right"></i>
    </a>
  </div>
  <div class="filter-body collapse in" id="js-collapse-1">
    <ul class="gico-category-links list-unstyled">
      <li class="is-top">
        <a href="#">Bổ gan</a>
      </li>
      <li class="is-current">
        <a href="#">Bổ máu</a>
      </li>
      <li class="is-child">
        <a href="#">Hạ mỡ máu</a>
      </li>
      <li class="is-child">
        <a href="#">Sản phẩm khác</a>
      </li>
      <li class="is-siblings">
        <a href="#">Tai mũi họng</a>
      </li>
      <li class="is-siblings">
        <a href="#">Tăng cường miễn dịch</a>
      </li>
      <li class="is-siblings">
        <a href="#">Điều trị bênh gout</a>
      </li>
      <li class="is-siblings">
        <a href="#">Đại tràng</a>
      </li>
    </ul>
  </div>
</div>
