<div class="filter-block">
  <div class="filter-heading">
    <a class="title" data-toggle="collapse" href="#js-collapse-2" role="button" aria-expanded="false" aria-controls="js-collapse-2">
      Giá
      <i class="gico-icon icon-right"></i>
    </a>
  </div>
  <div class="filter-body collapse in" id="js-collapse-2">
    <ul class="gico-filter-checkbox list-unstyled">
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          0-500.000

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          500.000 - 2.000.000

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          2.000.000 - 5.000.000

        </label>
      </li>
    </ul>
  </div>
</div>

<div class="filter-block">
  <div class="filter-heading">
    <a class="title" data-toggle="collapse" href="#js-collapse-3" role="button" aria-expanded="false" aria-controls="js-collapse-3">
      Xuất xứ
      <i class="gico-icon icon-right"></i>
    </a>
  </div>
  <div class="filter-body collapse in" id="js-collapse-3">
    <ul class="gico-filter-checkbox list-unstyled">
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="" checked="checked">
          <span class="styled-checkbox-box"></span>
          Việt Nam

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          Đức

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          Pháp

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="">
          <span class="styled-checkbox-box"></span>
          Anh

        </label>
      </li>
    </ul>
  </div>
</div>

<div class="filter-block">
  <div class="filter-heading">
    <a class="title" data-toggle="collapse" href="#js-collapse-4" role="button" aria-expanded="false" aria-controls="js-collapse-4">
      Nguồn gốc
      <i class="gico-icon icon-right"></i>
    </a>
  </div>
  <div class="filter-body collapse in" id="js-collapse-4">
    <ul class="gico-filter-checkbox list-unstyled">
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="" checked="checked">
          <span class="styled-checkbox-box"></span>
          Nội địa

        </label>
      </li>
      <li>
        <label class="styled-checkbox">
          <input type="checkbox" class="styled-checkbox-input" name="" value="" checked="checked">
          <span class="styled-checkbox-box"></span>
          Nhập khẩu

        </label>
      </li>
    </ul>
  </div>
</div>
