<footer class="gico-footer">
  <div class="container">
  
    <div class="footer-top">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
          <div class="gico-about">
            <h4>MUA SẮM ONLINE PHONG CÁCH HÀN QUỐC - GICO VIETNAM</h4>
            <p>Được thành lập vào tháng 3/2010, Yes24.vn là một trong những trang mua sắm trực tuyến tiên phong trong lĩnh vực bán hàng online. Tại đây, bạn có thể dễ dàng tìm thấy và mua hàng trực tuyến những sản phẩm của các thương hiệu hàng đầu trong các danh mục Thời trang nam nữ, Nội y – Homewear, Mỹ phẩm, Giày Túi, Phụ kiện Đồng hồ, Mẹ & Bé, Đồ Gia Dụng, Thể Thao, Điện máy, Điện thoại, Tablet & Tin học, Thiết bị số…</p>
            <p>Đặc biệt, là công ty 100% vốn từ Hàn Quốc, Yes24 có nhiều sản phẩm thời trang xuất xứ từ “xứ sở kim chi” để bạn có thể ăn vận theo phong cách sành điệu, trẻ trung của các sao Hàn.</p>
            <p>Khi mua hàng online tại Yes24, bạn hoàn toàn yên tâm về chất lượng sản phẩm, mẩu mã và giá cả. Nếu mua hàng trực tuyến một sản phẩm bất kỳ, bạn sẽ được tích lũy điểm thưởng để có thể mua hàng online với mức giá rẻ hơn ở những lần sau. Chưa hết, Yes24 còn có hẳn một quy định về quyền lợi “Membership” với thật nhiều ưu đãi dành cho thành viên khi mua sắm. Bạn sẽ thường xuyên nhận được coupon giảm giá, quà tặng hàng tháng cũng như cập nhật các thông tin xu hướng mới nhất về thời trang, làm đẹp, giải trí…khi mua sắm trực tuyến tại Yes24.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <div class="gico-fb">
            <div class="fb-page" data-href="https://www.facebook.com/shinshenstore" data-width="351" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shinshenstore" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shinshenstore">ShinShen - Thế Giới Mặt Nạ Giấy</a></blockquote></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-link">
      <div class="row">
        <div class="col-xs-12">
          <h4>Hỗ trợ khách hàng</h4>
          <p class="text-medium text-primary"><span>Hotline: 1900-6035</span></p>
          <p>(1000đ/phút , 8-21h kể cả T7, CN)</p>
          <ul class="list-unstyled">
            <li><a href="#" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a></li>
            <li><a href="#" title="Gửi yêu cầu hỗ trợ">Gửi yêu cầu hỗ trợ</a></li>
            <li><a href="#" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a></li>
            <li><a href="#" title="Phương thức vận chuyển">Phương thức vận chuyển</a></li>
            <li><a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a></li>
            <li><a href="#" title="Hướng dẫn mua trả góp">Hướng dẫn mua trả góp</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h4>Về Enpa.vn</h4>
          <ul class="list-unstyled">
            <li><a href="#" title="Giới thiệu Enpa.vn">Giới thiệu Enpa.vn</a></li>
            <li><a href="#" title="Tuyển Dụng">Tuyển Dụng</a></li>
            <li><a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a></li>
            <li><a href="#" title="Chính sách giải quyết khiếu nại">Chính sách giải quyết khiếu nại</a></li>
            <li><a href="#" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
            <li><a href="#" title="Hội Sách Online">Hội Sách Online</a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h4>Phương thức thanh toán</h4>
          <span class="icon-all-payment"></span>
        </div>
        <div class="col-xs-12">
          <h4>Kết nối với chúng tôi</h4>
          <ul class="list-unstyled">
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
          </ul>
        </div>
        <div class="col-xs-12">
          <h4>Tải ứng dụng di động</h4>
          <ul class="list-unstyled">
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
            <li><a href="#" title=""></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-adwords">
      {% for i in range(0, 170) %}
          <a href="#" title="Samsung">Samsung</a>
      {% endfor %}
    </div>

  </div>
</footer>