<div class="payment-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-logo">
				<a href="./index.html" title="Gico.vn">
					<span class="gico-icon-logo"></span>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-support">
				<p><i class="gico-icon icon-headset"></i>Trung tâm CSKH <span>1900 1515</span></p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-step">
				<div class="step-container">
					<ul class="step-bar">
						<li class="active step-1">Đăng nhập</li>
						<li class="step-2">Địa chỉ giao hàng</li>
						<li class="step-3">Thanh toán & Đặt hàng</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>